h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: right;
}

h3 {
    color: rgb(70, 0, 108);
    font-family: fantasy;
    letter-spacing:75px 
}

p {
    color: #fff312;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 400px;
    height: 15px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

body {
    background-color: #685206;
}

.thingies {
    color: chartreuse;
    font-size: xx-large;
    font-family: cursive;
}

.thingies2 {
    color: rgb(212, 137, 8);
    font-size: 14px;
    text-align: center;
}

#ssn {
color: cyan;
}

#hahaha {
    background-color: indianred;
    background:;
}

#ssn2 {
    color: rgb(209, 14, 115);
}

.bob {
    background-color: green;
    color: blue;
    text-align: right;
}